html {
    height: 100%
}

body {
    font-family: "Arima Madurai";
    font-size: 1rem;
    background-color: #000;
    background-image: url('../images/smoke_body.jpg');
    @media (max-width: 430px) {
        background-image: none !important;
    }
    background-position: center;
    color: #fff;
    height: 100%;
}

div.mainContainer {
    background-color: #000;
}

img.header {
    width: 40%;
    margin: 0 auto;
}

div.post {
    margin-top: 1em;
    margin-bottom: 4em;
    padding-bottom: 2em;
    background-image: url('../images/separator.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
}

div.post-noseparator {
    margin-top: 1em;
    margin-bottom: 4em;
    padding-bottom: 2em;
}

.date {
    text-align: right !important;
    font-style: italic;
}

.navBackground {
    background-image: url('../images/smoke_nav.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
}

span.more {
    display: none;
}

div#smoke-nav {
    ul {
        li.nav-item {
            line-height: 22px;
            height: 38px;
            font-family: Smokum;
            /* font-weight: bold; */
            font-size: 1.5rem;
            background-color: rgba(0, 0, 0, 0.8) !important;
            border-radius: 20px;
            margin-right: 0.3em;

            .active {
                color: #32f14b83 !important;
            }

            a.nav-link:hover {
                color: rgba(82, 241, 50, 0.822) !important;
            }
        }
    }
}





a {
    color: #bb5f62;
    text-decoration: none;

    &:hover {
        color: #9b3f42;
    }
}

div.content {
    background-image: url('../images/wall.png');
    background-repeat: repeat-y;
    background-position: 100%;
}

.itemPrice {
    color: #fff !important;
}
